.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron{
    color:rgba(37, 192, 63, 0.424);
    text-align: center;
    text-decoration: chartreuse ;
    text-shadow: cyan;
}
.text2{
  text-align: center  ;
}

.border{
  border:5px;
  list-style: none;
  text-align: center;
  text-decoration: brown;
}

.mainParent{
  
  
  list-style-type:none;
  
  
}
.inline{
  display: inline;
  text-align: right;
  margin-left: auto;
}
.btn1{
  float: right;
  border:3px;
  border-style:solid;
}

.titleColor{
  color: #16d840c7;
}
.bdr{
  border:3px;
  border-style:solid;
  border-color:rgba((180, 86, 8, 0.822) 17, 17);
  margin-bottom: 5px;

}

